.topic-lists {
    display: flex;
    padding: 10px 20px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    margin-bottom: 17px;
    justify-content: space-between;
    .title {
        h4 {
            text-transform: capitalize;
            font-size: 14px;
            font-weight: 500;
        }
    }
    .youtube-document {
        button {
            border: none;
            text-transform: uppercase;
            color: #3a3a3a;
            font-size: 16px;
            font-weight: 600;
            background: none;
            &.youtube {
                color: red;
                i {
                    font-size: 20px;
                }
            }
            &.pdf {
                color: red;
                i {
                    font-size: 20px;
                }
            }
        }
    }
}