.learning-options-container {
    .learning-option-button {
        padding: 3px 12px;
        border-radius: 25px;
        background: rgba(228, 99, 114, 1);
        border: none;
        margin: 3px;
        color: #fff;
    }
}

.react-chatbot-kit-chat-inner-container {
    .react-chatbot-kit-chat-header {
        color: #000;
    }
    .react-chatbot-kit-chat-message-container {
        .react-chatbot-kit-chat-bot-message {
            // width: 100% !important;
            background-color: #ef6d00 !important;
            padding: 5px 10px !important;
            width: auto !important;
            margin-left: inherit !important;
            .react-chatbot-kit-chat-bot-message-arrow {
                border-right: 8px solid #ef6d00 !important;
            }
        }
        .react-chatbot-kit-chat-bot-avatar {
            display: none;
        }
        .link-list {
            width: 100%;
            text-align: center;
            margin: auto;
            .suggested-doctor {
                display: inline-block;
                margin-right: 20px;
                a {
                    display: inline-block;
                    width: 100% !important;
                    text-align: center;
                    padding: 10px 13px;
                    font-size: 19px;
                    font-weight: 700;
                    color: #26339f;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    .react-chatbot-kit-chat-input-container {
        display: none !important;
    }
}