.helpdesk-area {
    padding-bottom: 80px;
    .helpdesk-wrapper-content {
        .header-top-help-desk {}
        .help-desk-inner-content {
            margin-top: 33px;
            padding: 20px;
            .single-chat {
                .rsc {
                    width: 100% !important;
                    .dEJvrK {
                        width: 100% !important;
                        .rsc-header {
                            background: $secondary-bg-color !important;
                            padding: 15px 20px;
                            h2 {
                                color: $white-text-color !important;
                                font-size: 24px;
                                text-transform: capitalize;
                                font-weight: 600;
                            }
                        }
                        .rsc-content {
                            .rsc-ts-bot {
                                .lXyHv {
                                    background: $primary-bg-color;
                                    padding: 6px 15px;
                                }
                            }
                        }
                    }
                    .gAjHuO {
                        width: 100% !important;
                        .rsc-header {
                            background: $secondary-bg-color !important;
                            padding: 15px 20px;
                            h2 {
                                color: $white-text-color !important;
                                font-size: 24px;
                                text-transform: capitalize;
                                font-weight: 600;
                            }
                        }
                        .rsc-content {
                            .rsc-ts-bot {
                                .lXyHv {
                                    background: $primary-bg-color;
                                    padding: 6px 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}