.single-online-inner-content {
    box-shadow: 0 0 18px -6px #8886;
    padding: 20px 30px;
    h3 {
        position: relative;
        display: inline-block;
        padding: 0 20px;
        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 39%;
            transform: translateY(-50%)rotate(45deg);
            height: 7px;
            width: 7px;
            background: $primary-color;
        }
        &:after {
            content: "";
            position: absolute;
            right: 0;
            top: 39%;
            transform: translateY(-50%)rotate(45deg);
            height: 7px;
            width: 7px;
            background: $primary-color;
        }
    }
    .detail-content {
        p {
            &:first-letter {
                font-size: 40px;
                font-weight: 700;
                margin-top: 4px;
                padding-top: 10px;
                text-indent: 2em;
            }
        }
    }
}