.shape-design {
    position: absolute;
    height: 100%;
    width: 100%;
    &:before {
        content: '';
        position: absolute;
        left: 10%;
        top: 0;
        height: 50px;
        width: 50px;
        background: url('../../images/circle.png');
        background-repeat: no-repeat;
        animation: shape-animate 3s linear 2s infinite alternate;
        @keyframes shape-animate {
            0% {
                transform: translateY(0);
            }
            100% {
                transform: translateY(50px);
            }
        }
    }
    &:after {
        content: '';
        position: absolute;
        right: 10%;
        bottom: 100px;
        height: 50px;
        width: 50px;
        background: url('../../images/square.png');
        background-repeat: no-repeat;
        animation: shape-circle 2s linear 2s infinite alternate;
        @keyframes shape-circle {
            0% {
                transform: rotateX(40deg);
            }
            100% {
                transform: rotateX(360deg);
            }
        }
    }
}