.team-member-content {
    margin-bottom: 41px;
    position: relative;
    top: 0;
    transition: all 0.3s ease-in-out;
    &:before {
        content: '';
        position: absolute;
        left: -4px;
        top: -4px;
        height: 38px;
        width: 38px;
        background: #26339f;
        z-index: -1;
    }
    .team-member-info {
        box-shadow: 0 2px 5px 4px rgba(195, 177, 177, 0.1);
        padding: 20px 15px;
        margin-bottom: 40px;
        text-align: center;
        position: relative;
        z-index: 1;
        .member-name {
            font-size: 14px;
        }
        .designation {
            font-size: 12px;
            font-weight: 500;
            font-style: italic;
        }
    }
    &:hover {
        top: -5px;
    }
}