    .time-line-wrapper {
        overflow: hidden;
        position: relative;
        display: flex;
        .single-time-line {
            padding: 20px 60px;
            position: relative;
            width: 50%;
            border-radius: 4px;
            .info-title {
                h4 {
                    margin-bottom: 13px;
                }
                h5 {
                    text-transform: capitalize;
                    font-size: 14px;
                }
            }
            .time-line-inner-description {
                p {}
            }
        }
        &:nth-child(even) {
            flex-direction: row-reverse;
        }
        &:nth-child(odd) {
            &:after {
                font-size: 38px;
                font-weight: 700;
                display: inline-block;
                background: yellow;
                color: #fff;
                padding: 1px 30px;
                margin-bottom: 26px;
                border-radius: 4px;
            }
        }
    }