// Required
@import '../base/variables';
@import '../base/base';
@import '../base/utilities';

/* Extra large devices (large desktops, 1200px and up) */

@media only screen and (min-width: $bp-extra-large-desktop-min) and (max-width: $bp-extra-large-desktop-max) {
    .header-area {
        #main-menu {
            li {
                .dropdown {
                    left: -50px;
                }
            }
        }
    }
    .onlineregisteration-area {
        &::before {
            height: 150px;
            width: 150px;
        }
    }
}


/* Large devices (desktops, 992px and up) */

@media only screen and (min-width: $bp-large-desktop-min) and (max-width: $bp-large-desktop-max) {
    h2 {
        font-size: 38px;
        line-height: 55px;
    }
    h3 {
        font-size: 21px;
        line-height: 32px;
    }
    .section-padding {
        padding: 50px 0;
    }
    .section-padding-bottom {
        padding-top: 50px;
    }
    .section-padding-top {
        padding-top: 64px;
    }
    .header-area {
        #main-menu {
            li {
                .dropdown {
                    left: -88px;
                }
            }
        }
    }
    .registeration-card-content {
        padding: 30px 20px;
    }
    .event-form-group {
        margin-bottom: 22px;
    }
    .onlineregisteration-area {
        &:before {
            height: 130px;
            width: 130px;
        }
    }
    .time-line-wrapper {
        .single-time-line {
            padding: 20px 15px;
        }
    }
}


/* Medium devices (tablets, 768px and up) */

@media only screen and (min-width: $bp-medium-device-min) and (max-width: $bp-medium-device-max) {
    h2 {
        font-size: 35px;
        line-height: 50px;
    }
    h3 {
        font-size: 24px;
        font-weight: 32px;
    }
    .section-padding {
        padding: 50px 0;
    }
    .section-padding-bottom {
        padding-top: 50px;
    }
    .section-padding-top {
        padding-top: 60px;
    }
    .service-img {
        img {
            width: 100%;
        }
    }
    .service-card-wrapper {
        margin-bottom: 25px;
    }
    .online-registeration-wrapper {
        margin-bottom: 20px;
    }
    .registeration-card-thumbnail {
        img {
            width: 100%;
        }
    }
    .event-form-group {
        margin-bottom: 28px;
    }
    .online-tutorials-content {
        position: relative !important;
        top: 0 !important;
        transform: translate(0) !important;
        h3 {
            margin-bottom: 20px;
            margin-top: 15px;
        }
    }
    .information-content {
        float: none;
        width: 100%;
        text-align: left;
    }
    .footer-area {
        .information {
            .information-content {
                float: none;
                width: 100%;
                text-align: left;
            }
        }
    }
    .time-line-wrapper {
        .single-time-line {
            padding: 20px 15px;
        }
    }
}


/* Small devices (landscape phones, min 576px  and max 767px) */

@media only screen and (min-width: $bp-landscape-device-min) and (max-width: $bp-landscape-device-max) {
    h2 {
        font-size: 30px;
        line-height: 38px;
    }
    h3 {
        font-size: 23px;
        line-height: 33px;
    }
    .section-padding {
        padding: 40px 0;
    }
    .section-padding-bottom {
        padding-top: 50px;
    }
    .slider-content .inner h1 {
        .inner {
            h1 {
                font-size: 40px;
            }
        }
    }
    .service-card-wrapper {
        margin-bottom: 30px;
    }
    .onlineregisteration-area {
        &:before {
            height: 150px;
            width: 150px;
        }
    }
    .online-registeration-wrapper {
        margin-bottom: 30px;
    }
    .event-form-group {
        margin-bottom: 22px;
    }
    .online-tutorials-content {
        position: relative;
        top: 0;
        transform: translate(0);
        h3 {
            margin-top: 18px;
        }
    }
    .doctor-image-inner {
        img {
            width: 100%;
        }
    }
    .footer-area {
        .information {
            .information-content {
                float: none;
                width: 100%;
                text-align: left;
            }
        }
    }
    .team-member-content {
        img {
            width: 100%;
        }
    }
    .time-line-wrapper {
        display: block;
        .single-time-line {
            padding: 20px 10px;
            width: 100%;
            margin-bottom: 14px;
            .info-title {}
            .time-line-inner-description {}
        }
    }
}

@media only screen and (min-width: $bp-extra-small-device-min) and (max-width: $bp-extra-small-device-max) {
    h2 {
        font-size: 24px;
        line-height: 36px;
    }
    h3 {
        font-size: 20px;
        line-height: 32px;
    }
    .section-padding-bottom {
        padding-top: 50px;
    }
    .section-padding-bottom {
        padding-bottom: 50px;
    }
    .section-padding-top {
        padding-top: 35px;
    }
    .social-link {
        text-align: center;
    }
    ul.social-address {
        text-align: center;
    }
    ul.social-address {
        float: none;
    }
    .navbar-light {
        padding: 5px 10px;
    }
    .slide {
        height: 500px;
    }
    .welcome-area {
        height: 500px;
    }
    .slider-content .inner {
        padding: 0 10px;
        font-size: 38px;
    }
    .slider-content .inner p {
        margin: 14px auto 30px;
    }
    .slider-content .inner h1 {
        font-size: 35px;
    }
    .slider-title {
        font-size: 35px !important;
    }
    .slider-text {
        letter-spacing: 2px !important;
        font-size: 14px !important;
    }
    .section-padding {
        padding: 30px 0;
    }
    .service-card-wrapper {
        margin-bottom: 20px;
    }
    .service-card-wrapper .service-card-content {
        padding: 30px 13px;
    }
    .onlineregisteration-area:before {
        height: 100px;
        width: 100px;
    }
    .registeration-card-content a {
        margin-top: 20px;
    }
    .online-registeration-wrapper {
        margin-bottom: 20px;
    }
    .online-event-content {
        position: relative;
        top: 0;
        transform: translateY(0);
        padding: 30px 10px;
        background: linear-gradient( 225deg, rgba(55, 67, 173, 0.95), rgba(49, 47, 132, 0.88)) transparent;
    }
    .online-event-form {
        padding: 60px 14px 40px;
    }
    .event-form-group {
        margin-bottom: 15px;
    }
    .online-tutorials-content {
        position: relative !important;
        top: 0 !important;
        transform: translate(0) !important;
    }
    .online-tutorials-content h3 {
        margin-top: 16px;
    }
    .information-content {
        float: left !important;
        width: 100% !important;
        text-align: left !important;
    }
    .information-content h4 {
        margin-bottom: 6px;
    }
    .online-event-registeration:after {
        display: none;
    }
    .online-registeration-wrapper {
        display: block !important;
    }
    .online-registeraion-info {
        width: 100% !important;
    }
    .online-form {
        width: 100% !important;
    }
    .team-member-content {
        img {
            width: 100%;
        }
    }
    .time-line-wrapper {
        display: block;
        .single-time-line {
            padding: 20px 10px;
            width: 100%;
            margin-bottom: 14px;
            .info-title {}
            .time-line-inner-description {}
        }
    }
}