.breadcrum-banner-area {
    position: relative;
    text-align: center;
    padding: 80px 10px;
    background: #26339f;
    .breadcrum-inner-content {
        h2 {
            color: #fff;
        }
    }
    &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        height: 200px;
        width: 200px;
        background: #ffffff0d;
        border-radius: 50%;
        transform: translateY(-50%);
    }
}