.online-tutorials {
    .video-btn {
        height: 95px;
        width: 95px;
        background: #fff;
        line-height: 95px;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border-radius: 50%;
        font-size: 30px;
        padding-left: 10px;
        transition: all 0.3s linear;
        border: none;
        i {
            color: #ef6d00;
        }
        &:before {
            content: '';
            height: 100%;
            width: 100%;
            position: absolute;
            z-index: -1;
            background: #fff;
            left: 0;
            border-radius: 50%;
            -webkit-animation: modalanimate 1s linear infinite;
            animation: modalanimate 1s linear infinite;
            opacity: 0.9;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }
    .online-tutorials-content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        h3 {
            margin-bottom: 20px;
        }
        a {
            margin-top: 20px;
        }
    }
}

@keyframes modalanimate {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0.9;
    }
    100% {
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
        background: transparent;
    }
}