.ehealth-area {
    .service-card-wrapper {
        box-shadow: 0 4px 30px rgba(0, 0, 0, .2);
        transition: all .3s linear;
        .service-img {
            position: relative;
            overflow: hidden;
            .service-icon {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%) scale(0);
                opacity: 0;
                visibility: hidden;
                transition: all 0.3s linear;
                i {
                    font-size: 35px;
                    color: $secondary-color;
                }
            }
            &:before {
                content: "";
                position: absolute;
                top: -110%;
                left: -210%;
                width: 200%;
                height: 200%;
                opacity: 0;
                background: hsla(0, 0%, 100%, .13);
                background: linear-gradient(90deg, hsla(0, 0%, 100%, .13), hsla(0, 0%, 100%, .13) 77%, hsla(0, 0%, 100%, .5) 92%, hsla(0, 0%, 100%, 0));
                transition: all 1s ease-in-out;
            }
        }
        .service-card-content {
            padding: 30px 20px;
            text-align: center;
            background: #fff;
            h3 {
                transition: all 0.3s linear;
                padding-bottom: 30px;
                position: relative;
                font-size: 17px;
                line-height: 28px;
                a {
                    color: #26339f;
                }
                &:after {
                    position: absolute;
                    left: 50%;
                    bottom: 0px;
                    content: '';
                    background: url("../../images/shape.png");
                    width: 52px;
                    height: 15px;
                    background-repeat: no-repeat;
                    transform: translateX(-50%);
                }
            }
        }
        &:hover {
            box-shadow: none;
            .service-img {
                .service-icon {
                    opacity: 1;
                    visibility: visible;
                    transform: translate(-50%, -50%) scale(1);
                }
                &:before {
                    opacity: 1;
                    top: -20%;
                    left: -30%;
                    transition-property: left, top, opacity;
                    transition-duration: 0.7s, 0.7s, 0.15s;
                    transition-timing-function: linear;
                }
            }
        }
    }
}