.section-title h2 {
    position: relative;
    padding-bottom: 15px;
    display: inline-block;
    padding-left: 0;
    font-weight: 800;
    &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 100%;
        background: url('../../images/shape.png');
        background-repeat: no-repeat;
        height: 16px;
        width: 60px;
        transform: translateX(-50%);
    }
}