.footer-area {
    background: url('../../images/footer.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    position: relative;
    font-size: 14px;
    .footer-wrapper {
        .footer-logo {
            max-width: 100px;
        }
        p {
            color: #fff;
        }
        .subscription {
            form {
                .newsletter-form-group {
                    position: relative;
                    .newsletter-input-field {
                        width: 100%;
                        border: none;
                        padding: 0 15px;
                        height: 48px;
                        border-radius: 5px;
                    }
                    .newsletter-btn {
                        position: absolute;
                        right: -1px;
                        border: none;
                        width: 50px;
                        height: 100%;
                        background: #ef6d00;
                        border-radius: 0 5px 5px 0;
                        i {
                            font-size: 30px;
                            color: #fff;
                            width: 100%;
                            line-height: 40px;
                        }
                    }
                }
            }
        }
    }
    .information {
        .information-content {
            float: right;
            width: 50%;
            text-align: left;
            h6 {
                color: #fff;
            }
            .single-information {
                .icon {
                    width: 30px;
                    height: 30px;
                    flex-shrink: 0;
                }
                .info {
                    span {
                        font-weight: 600;
                    }
                }
            }
        }
    }
    .copyright-text {
        padding-top: 30px;
        position: relative;
        p {
            color: #fff;
        }
        &:before {
            content: '';
            position: absolute;
            top: 0;
            width: 100%;
            height: 1px;
            background: #ffffff52;
            left: 0;
        }
    }
}