@import "./variables";
html,
body {
    font-size: $primary-font-size;
    font-family: $primary-font;
    vertical-align: baseline;
    line-height: 28px;
    font-weight: $primary-font-weight;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
    pointer-events: none;
}

p {
    margin: 0;
    font-size: $primary-font-size;
    color: $primary-text-color;
    font-family: $primary-font;
    line-height: $primary-text-line-height;
    font-weight: $primary-font-weight;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $primary-font;
    color: $primary-heading-text-color;
    margin: 0 0;
    padding: 0 0;
}

h1 {
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
}

h2 {
    font-size: 48px;
    line-height: 58px;
    font-weight: 700;
}

h3 {
    font-size: 25px;
    line-height: 36px;
    font-weight: 700;
}

h4 {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
}

h5 {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
}

h6 {
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: $primary-bg-color;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    outline: none !important;
}

a:active,
a:hover {
    text-decoration: none;
    outline: 0 none;
    color: $primary-bg-color;
}

.hidden {
    overflow: hidden;
}

i {
    font-family: 'fontawesome';
    font-style: inherit;
}

.form-control:focus {
    color: $primary-text-color;
    background-color: #fff;
    border-color: $primary-text-color;
    outline: 0;
    box-shadow: none;
}

textarea:focus {
    border: 1px solid transparent !important;
    box-shadow: none;
    border-radius: 0 !important;
    outline-color: #345995 !important;
}

blockquote {
    padding: 25px 35px;
    margin-left: 30px;
    background: #f5f5f5;
    margin: 30px 0 30px 30px;
    -webkit-box-shadow: -5px 0 #232323;
    -ms-box-shadow: -5px 0 #232323;
    box-shadow: -5px 0 #232323;
}

blockquote p:last-child {
    font-weight: 600;
    margin-bottom: 0;
}

::-moz-selection {
    background: $primary-text-color;
    text-shadow: none;
    color: #ffffff;
}

::selection {
    background: $primary-text-color;
    text-shadow: none;
    color: $white-text-color;
}

@-webkit-keyframes autofill {
    to {
        color: inherit;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

input[type='submit'] {
    cursor: pointer;
}

// in src/components/LearningOptions/LearningOptions.css
.learning-options-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.learning-option-button {
    padding: 0.5rem;
    border-radius: 25px;
    background: transparent;
    border: 1px solid green;
    margin: 3px;
}

.link-list {
    padding: 0;
}

.link-list-item {
    text-align: left;
    font-size: 0.9rem;
}

.link-list-item-url {
    text-decoration: none;
    margin: 6px;
    display: block;
    color: #1d1d1d;
    background-color: #f1f1f1;
    padding: 8px;
    border-radius: 3px;
    box-shadow: 2px 2px 4px rgba(150, 149, 149, 0.4);
}

.react-chatbot-kit-chat-container {
    position: relative;
    width: 100% !important;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(150, 149, 149, 0.4);
}

.react-chatbot-kit-chat-header {
    background-color: #f3cf62;
    font-size: 1.2rem;
    color: #ef6d00;
    padding: 20px 15px;
}

.react-chatbot-kit-chat-message-container {
    padding: 15px 17.5px 10px 17.5px;
    overflow: hidden;
    overflow-y: scroll;
    height: 424px;
    background: #f3cf6229;
}

.react-chatbot-kit-chat-bot-message {
    background-color: #ef6d00 !important;
    padding: 15px;
    font-size: 1rem;
    color: #fff;
    width: auto;
    margin-left: 15px;
    text-align: left;
}

.learning-options-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.react-chatbot-kit-chat-input-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: none;
}


/* 
.link-list-item-url {
    background-color: #fff;
} */

.link-list-item-url {
    width: 50%;
    margin-left: auto;
    padding: 15px;
    background: #fff;
    font-weight: 500;
}