@import "./variables";
@import "./base";
.white-color {
    color: $white-text-color;
}

button:focus {
    outline: none;
    border: none;
}

input {
    outline: none;
}

.light-color {
    color: #008cba;
}

.theme-color {
    color: $secondary-color;
}

.row-center {
    align-items: center;
}

.relative {
    position: relative;
    overflow: hidden;
}

.section-bg {
    background: $section-bg;
}

.white-bg {
    background: $white-bg-color;
}

.section-padding {
    padding: 80px 0;
}

.section-padding-top {
    padding-top: 120px;
    padding-bottom: 80px;
    overflow: hidden;
}

.section-padding-bottom {
    padding-bottom: 120px;
    overflow: hidden;
    padding-top: 80px;
}

.primary-color {
    color: $primary-color;
}

.section-title-padding {
    padding-bottom: 40px;
}

.section-padding {
    padding: 80px 0;
}

.section-title-padding {
    padding-bottom: 50px;
}

.text-color {
    color: $primary-color;
}

.secondary-color {
    color: $secondary-color;
}

.theme-btn:hover::before {
    left: 0;
    top: 0;
    border-left: 300px solid $primary-color;
}

.theme-btn:hover {
    color: $white-text-color;
}

input.theme-btn {
    outline: none;
    border: none;
}

.no-padding {
    padding: 0;
    margin: 0;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.theme-color-btn {
    display: inline-block;
    padding: 10px 25px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    background: #008cba;
    border: 1px solid transparent;
}

.mb-50 {
    margin-bottom: 50px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-30 {
    margin-top: 30px;
}

.mb-30 {
    margin-bottom: 30px;
}

.theme-btn {
    padding: 8px 35px;
    background: #ef6d00;
    color: #fff;
    font-weight: 600;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    position: relative;
    transition: all 0.3s linear;
    overflow: hidden;
    z-index: 11;
    &:before {
        content: '';
        position: absolute;
        left: -164px;
        top: -67px;
        border-left: 200px solid #d81947a6;
        border-bottom: 200px solid transparent;
        transition: all 0.3s linear;
        z-index: -1;
    }
}